<div class="countdown-banner">
  <div class="count-item">
    <div class="count-number">{{ days }}</div>
    <div class="count-label">Dagar</div>
  </div>

  <div class="count-sep">:</div>

  <div class="count-item">
    <div class="count-number">{{ pad(hours) }}</div>
    <div class="count-label">Timmar</div>
  </div>

  <div class="count-sep">:</div>

  <div class="count-item">
    <div class="count-number">{{ pad(minutes) }}</div>
    <div class="count-label">Minuter</div>
  </div>

  <div class="count-sep">:</div>

  <div class="count-item">
    <div class="count-number">{{ pad(seconds) }}</div>
    <div class="count-label">Sekunder</div>
  </div>
</div>
