// Color Variables
$base-font-color: #9CAF88; 
$primary-bg: lighten($base-font-color, 38%);
$secondary-bg: lighten($base-font-color, 28%);
$accent: darken($base-font-color, 20%);
$banner-bg: mix($primary-bg, #f2ead6, 60%);
$text-main: darken($base-font-color, 35%);
$banner-text: darken($text-main, 8%);

// Typography
$font-main: 'Montserrat', Arial, sans-serif;
$font-cursive: 'Great Vibes', cursive;
