@use './app/variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:wght@400;700&display=swap');

html, body {
  margin: 0;
  padding: 0;
  font-family: $font-main;
  background: $section-bg-light;
  color: $base-font-color;
}

app-root {
  display: block;
}
