/* You can add global styles to this file, and also import other style files */
@import '@ionic/angular/css/core.css';
@import '@ionic/angular/css/normalize.css';
@import '@ionic/angular/css/structure.css';
@import '@ionic/angular/css/typography.css';
@import '@ionic/angular/css/display.css';

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}