<app-countdown-header />

<main class="main">
  <div class="content">
    <ion-button routerLink="/osa" expand="block" fill="solid" color="primary" style="margin-bottom: 1.5rem;">
      OSA
    </ion-button>
    
    <h1 class="wedding-title">Linnea &amp; Pontus</h1>
    <h1 class="wedding-title subtitle">Bröllop</h1>

    <div class="wedding-dates">
      <span class="date-label">Save the Date</span>
      <div class="date-values">21-23 Augusti, 2026</div>
      <span class="date-label">Öregrund</span>
    </div>
    <div class="image-grid">
      <img src="assets/IMG_3305.jpg" class="image-placeholder" style="height: 520px; object-fit: cover;" />
      <img src="assets/IMG_6771.jpg" class="image-placeholder" style="height: 420px; object-fit: cover;" />
      <img src="assets/IMG_2346.jpg" class="image-placeholder" style="height: 400px; object-fit: cover;" />
      <img src="assets/IMG_4923.jpg" class="image-placeholder" style="height: 520px; object-fit: cover;" />
      <img src="assets/IMG_8761.jpg" class="image-placeholder" style="height: 420px; object-fit: cover;" />
      <img src="assets/93fad84e-2e1d-40e5-8719-bb64d53ed48b.jpg" class="image-placeholder" style="height: 480px; object-fit: cover;" />
      <img src="assets/IMG_3128.jpg" class="image-placeholder" style="height: 410px; object-fit: cover;" />
      <img src="assets/IMG_3395.jpg" class="image-placeholder" style="height: 500px; object-fit: cover;" />
      <img src="assets/IMG_0609.jpeg" class="image-placeholder" style="height: 390px; object-fit: cover;" />
      <img src="assets/IMG_5131.jpeg" class="image-placeholder" style="height: 420px; object-fit: cover;" />
    </div>
    <div class="footer-info">Mer information kommer senare</div>
    <div class="footer"> 
      <img src="assets/weddinglogo.jpeg" alt="Linn & Pontus Wedding Logo" class="footer-logo" />
    </div>
  </div>
</main>
